@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Management System</h1>
    <p >"Books are mirrors:you only see in them what you already have inside you" <br />- Carlos Ruiz</p>
 
</div>

<div class="row">
    <div class="col-md-4">
        
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
</div>